# Env Vars 
VERCEL="1"
VERCEL_ENV="development"
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_PULL_REQUEST_ID=""

# Main App DB (Supabase Settings)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_GOD_MODE_KEY=

## Telemetry Database Settings 
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432

# PostHog Telemetry Settings
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# CRUX API Key 
CRUX_API_KEY=

# AWS Settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
JS_S3_BUCKET_NAME=
JS_CLOUDFRONT_DISTRIBUTION_ID=
NEXT_PUBLIC_JS_CDN_HOST_NAME=

# Web Page Test API Settings
WEB_PAGE_TEST_API_KEY=
WEB_PAGE_TEST_WEBHOOK_HOST=
# WEB_PAGE_TEST_WEBHOOK_HOST=

# CRON JOB API Key (to authenticate the cron job)
CRON_JOB_API_KEY=

# Transactional Emails w/ Loops
LOOPS_API_KEY=
DISABLE_TRANSACTION_EMAILS=false

# Sentry DSN
NEXT_PUBLIC_SENTRY_DSN=