:root {
  --color-default: #7487F7;
  --color-default-500: #7487F7;
  --color-dark: #46518f;
  --color-dark-500: #46518f;
  --color-yellow: #FAD831;
  --color-yellow-500: #FAD831;
  --color-orange: #EF7136;
  --color-orange-500: #EF7136;
  --color-purple: #A343BA;
  --color-purple-500: #A343BA;
  --color-red: #CE776B;
  --color-red-500: #CE776B;
  --color-blue: #97CCF0;
  --color-blue-500: #97CCF0;
  --color-green: #99EEBB;
  --color-green-500: #99EEBB;
  --color-off-white: #FFFDF2;
  --color-off-white-500: #FFFDF2;
  --color-dark-blue: #1F2D37;
  --color-dark-blue-500: #1F2D37;
  --color-blue-gray: #394150;
  --color-blue-gray-500: #394150;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.4rem;
  --font-size-xs: 0.75rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.5rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;
}
