$color-default: #7487F7;
$color-default-500: #7487F7;
$color-dark: #46518f;
$color-dark-500: #46518f;
$color-yellow: #FAD831;
$color-yellow-500: #FAD831;
$color-orange: #EF7136;
$color-orange-500: #EF7136;
$color-purple: #A343BA;
$color-purple-500: #A343BA;
$color-red: #CE776B;
$color-red-500: #CE776B;
$color-blue: #97CCF0;
$color-blue-500: #97CCF0;
$color-green: #99EEBB;
$color-green-500: #99EEBB;
$color-off-white: #FFFDF2;
$color-off-white-500: #FFFDF2;
$color-dark-blue: #1F2D37;
$color-dark-blue-500: #1F2D37;
$color-blue-gray: #394150;
$color-blue-gray-500: #394150;
$color-cello: #19355C;
$color-cello-500: #19355C;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$font-size-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$font-size-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$font-size-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-default: #7487F7;
  --color-default-500: #7487F7;
  --color-dark: #46518f;
  --color-dark-500: #46518f;
  --color-yellow: #FAD831;
  --color-yellow-500: #FAD831;
  --color-orange: #EF7136;
  --color-orange-500: #EF7136;
  --color-purple: #A343BA;
  --color-purple-500: #A343BA;
  --color-red: #CE776B;
  --color-red-500: #CE776B;
  --color-blue: #97CCF0;
  --color-blue-500: #97CCF0;
  --color-green: #99EEBB;
  --color-green-500: #99EEBB;
  --color-off-white: #FFFDF2;
  --color-off-white-500: #FFFDF2;
  --color-dark-blue: #1F2D37;
  --color-dark-blue-500: #1F2D37;
  --color-blue-gray: #394150;
  --color-blue-gray-500: #394150;
  --color-cello: #19355C;
  --color-cello-500: #19355C;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}