<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" media="screen">
      #title {
        font-size: 18px;
        font-family: Inter;
        font-weight: 500;
        color: black;
      }
      #button {
        border: none;
        border-radius: 5px;
        background-color: #7487F7;
        color: white;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 5px 10px 5px 10px;
      }
      #header {
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      #header img {
        width: 20%;
        max-width: 200px;
      }
      #footer {
        margin-top: 50px;
        padding: 10px;
        background-color: #f2f2f2;
        color: black;
        text-align: center;
        font-size: 10px;
      }
    </style>
  </head>

  <body>
    <div id='header'>
      <img src='https://swishjam.com/swishjam-logo.png'>
    </div>
    <%= yield %>
    <div id='footer'>
      <div style='text-align: center'>
        © 2023 Tagsafe, Inc. All rights reserved.
        <a href='https://swishjam.com' style='display: block'>https://swishjam.com</a>
      </div>
    </div>
  </body>
</html>
